#ubicacion{
    width:100%;
    height: 100%;
    margin: auto;
    border: 1px solid blue;
    display: flex;
    flex-direction: column;
    align-items: center;
}


#mapa{
    padding-bottom: 50px;
}

body{
    flex-wrap: wrap;
}